#!/bin/bash

# KERNEL="$(uname -r | sed 's/-/./g' | awk -F. '{print $1"."$2$3$4}')"

#cat << EOF | python -c 'import sys, yaml, json; y=yaml.load(sys.stdin.read()); print json.dumps(y)'
#version: ${KERNEL}
#EOF

uname -r | sed 's/-/./g' | awk -F. '{ printf("{\"version\": %d%04d%04d%04d, \"vendor\": \"%s\"}\n",  $1,$2,$3,$4, $5) }'
